<div class="mortgagecalc__panel mortgagecalc__panel--with-form">

  <%= render 'form_step2' %>

  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <a href="#" class='button mortgagecalc__submit rendered-from-js' ng-click="navigateAndFocus($event, 'previous')"><%= I18n.t('mortgage_calculator.repayment.back') %></a>
  </div>

</div>
