<div>

  <div ng-docker
       ng-docked="docked"
       ng-docker-hide="560"
       control="dockerControl"
       docker-ready="{{dockerReady}}"
       ng-cloak>
    <%= render 'tabs' %>
  </div>
  
</div>
