<div class="mortgagecalc__caveat callout">
  <h3><%= I18n.t("repayment.caveat.title")%></h3>

  <ul>
    <li><%= I18n.t("repayment.caveat.one")%></li>
    <li><%= I18n.t("repayment.caveat.two")%></li>
    <li><%= I18n.t("repayment.caveat.three")%></li>
  </ul>
</div>
