<h2 class="mortgagecalc__pageheading"><%= I18n.t("mortgage_calculator.repayment.title")%></h2>

<h3 class="mortgagecalc__heading"><%= I18n.t("mortgage_calculator.repayment.subtitle", default: "")%></h3>

