<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <h2><%= I18n.t("mortgage_calculator.repayment.title")%></h2>
  <p class="mortgagecalc__intro"><%= I18n.t("mortgage_calculator.repayment.subtitle", default: "")%></p>
</div>
