<div class="ns-mortgage-calc__mortgagecalc__panel ns-mortgage-calc__mortgagecalc__panel--full">
  <h2><%= I18n.t("mortgage_calculator.repayment.title")%></h2>
  <p class="ns-mortgage-calc__mortgagecalc__intro"><%= I18n.t("mortgage_calculator.repayment.subtitle", default: "")%></p>
</div>
