<p>
  <%= I18n.t("mortgage_calculator.repayment.tabs.interest_only.tip_1") %>
  <%= link_to t("mortgage_calculator.repayment.tabs.interest_only.tip_1_linktext"), t("mortgage_calculator.repayment.tabs.interest_only.tip_1_url"), target: '_blank' %>
</p>
