<h5 ng-hide="js"><%= I18n.t("mortgage_calculator.repayment.interest_only") %>:</h5>
<p ng-hide="js"><strong><%= number_to_currency @interest_only_changer.monthly_payment %></strong></p>
<p class='rendered-from-js'><strong>{{ repayments.monthlyInterestRepayment(2) | customCurrency:"£" }}</strong></p>
