  <p ng-hide="js" class="ns-mortgage-calc__mortgagecalc__heading ns-mortgage-calc__mortgagecalc__payment squeeze"><%= number_to_currency @repayment.monthly_payment %></p>
  <p class="rendered-from-js ns-mortgage-calc__mortgagecalc__heading ns-mortgage-calc__mortgagecalc__payment squeeze">{{ repayments.monthlyRepayment() | customCurrency:"£" }}</p>
  <p class="squeeze"><strong><%= I18n.t("mortgage_calculator.repayment.a_month") %></strong></p>
