<h5 ng-hide="js"><%= I18n.t("mortgage_calculator.repayment.repayment") %>:</h5>
<p ng-hide="js"><strong><%= number_to_currency @changer.monthly_payment %></strong></p>
<p class='rendered-from-js'><strong>{{ repayments.monthlyRepayment(2) | customCurrency:"£" }}</strong></p>
