<div class="ns-mortgage-calc__mortgagecalc__panel">
  <h4 class="ns-mortgage-calc__mortgagecalc__heading"><%= t("affordability.next_steps.have_you_tried.title") %></h4>

  <p><%= link_to I18n.t('mortgage_calculator.repayment.next_steps.have_you_tried.stamp_duty'),
                   full_stamp_duty_calculator_url,
                   target: "_blank" %></p>

  <p><%= link_to I18n.t('mortgage_calculator.repayment.next_steps.have_you_tried.affordability_calculator'),
                   full_mortgage_affordability_calculator_url,
                   target: "_blank" %></p>
</div>
