<div class="mortgagecalc__panel mortgagecalc__panel--with-form mortgagecalc__panel--border">
  <h4 class="mortgagecalc__heading"><%= I18n.t("mortgage_calculator.repayment.next_steps.have_you_tried.title") %></h4>

  <%= link_to I18n.t('mortgage_calculator.repayment.next_steps.have_you_tried.stamp_duty'),
    full_stamp_duty_calculator_url, class: "button button--primary mortgagecalc__stacked", target: "_blank", rel: no_follow? %>

  <%= link_to I18n.t('mortgage_calculator.repayment.next_steps.have_you_tried.affordability_calculator'), full_mortgage_affordability_calculator_url, class: "button button--primary mortgagecalc__stacked", target: "_blank", rel: no_follow? %>
</div>
