<div class="mortgagecalc__container">
  <%= render 'header' %>
  <%= render 'next_steps_content'  %>
  <%= render 'caveat' %>
</div>

<div class="mortgagecalc__feedback"><%= zendesk_feedback_tab(zendesk_repayment_config) %></div>

