.l-stuck {
  @include column(12);
  @include respond-to($mq-m) {
    @include column(8);
    margin: 0;
  }

  max-width: 600px;
  position: fixed;
  margin: 0;
  top: 0;
  padding: $baseline-unit*3;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ccc;
  z-index: 1;

  .slider--with-follower-top {
    transition: margin 0.3s ease-out;
    margin-top: $baseline-unit*7;

    .ui-slider-handle {
      &:after {
        top: -$baseline-unit*1.5;
        margin-left: -5px;
        border-left-width: 5px;
        border-right-width: 5px;
        border-bottom-width: 5px;
      }
    }
  }

  .label-follower.label-follower--top {
    transition: top 0.3s ease-out;
    top: -$baseline-unit*7;
    font-size: 16px;

  }

  .accent.accent--medium {
    font-size: 16px;
  }

  .borrowing-range {
    display: none;
  }
}
