<p><%= I18n.t("#{i18n_locale_namespace}.how_calculated") %></p>

<p><%= raw I18n.t("#{i18n_locale_namespace}.how_calculated_table_ftb") %></p>

<%= render 'bands_table', rates: rates, hide_additional: true %>

<p><%= I18n.t("#{i18n_locale_namespace}.how_calculated_extra_ftb", amount: second_home_threshold).html_safe %></p>
