<p><%= I18n.t("#{i18n_locale_namespace}.how_calculated") %></p>
<p><%= I18n.t("#{i18n_locale_namespace}.how_calculated_additional") %></p>

<%= render 'bands_table', rates: @rates %>

<p><%= I18n.t("#{i18n_locale_namespace}.how_calculated_extra", amount: second_home_threshold) %></p>
