<div class="stamp-duty__results">
  <div class="stamp-duty__results-heading" aria-live="polite" aria-atomic="true">
    <div class="hidden-unless-js">
      <% key = resource.second_home? ? 'second_title' : 'title' %>
      <span><%= I18n.t("#{i18n_locale_namespace}.results.#{key}") %></span>
    </div>

    <span>
      <%= number_to_currency resource.tax_due_formatted %>
    </span>
  </div>

  <p class="stamp-duty__results-tax-rate">
    <%= I18n.t("#{i18n_locale_namespace}.results.sentence",
              percentage: number_to_percentage(
                resource.percentage_tax, precision: 2
              )
        )%>
  </p>

  <div>
    <%= render 'property_tax_tip', rates: rates %>
  </div>
</div>
