<div class="mortgagecalc__panel--full">
  <div class="mortgagecalc__tip">
    <div class="stamp-duty stamp-duty__calculation-explanation">
      <% if first_time_buyer? %>
        <div class="stamp-duty__explanation-firsttimebuyer is-active">
          <%= render 'first_time_buyer_explanation', rates: rates %>
        </div>
      <% else %>
        <div class="stamp-duty__explanation-nexthome is-active">
          <%= render 'next_home_buyer_explanation', rates: rates %>
        </div>
      <% end %>
    </div>
  </div>
</div>
