.bundle
Gemfile.lock

# Ignore all logfiles and tempfiles in the dummy app.
/spec/tmp/*
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.rb
spec/dummy/log/*
spec/dummy/tmp/*
spec/dummy/public/decision-trees/assets/**
spec/dummy/public/assets/**
spec/dummy/public/version
spec/dummy/db/*.sqlite3

.jhw-cache
vendor/cache/**
vendor/assets/components/**
tmp

*.DS_Store
.sass-cache
.idea/
node_modules
coverage/

npm-debug.log
