<div class="l-constrained elsewhere__container">
  <a class="elsewhere__item promo__link" href="#">
    <div class="elsewhere__item-content">
    <h3 class="promo__heading"><%= t('land_and_buildings_transaction_tax.elsewhere.england_ni.title') %></h3>
    <p class="promo__content"><%= t('land_and_buildings_transaction_tax.elsewhere.england_ni.body') %></p></div>
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow-right elsewhere__arrow" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow-right"></use>
    </svg>
  </a>
  <a class="elsewhere__item promo__link" href="#">
    <div class="elsewhere__item-content">
    <h3 class="promo__heading"><%= t('land_and_buildings_transaction_tax.elsewhere.wales.title') %></h3>
    <p class="promo__content"><%= t('land_and_buildings_transaction_tax.elsewhere.wales.body') %></p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow-right elsewhere__arrow" focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow-right"></use>
    </svg>
  </a>
</div>
