.affcalc {
  float: left;
  max-width: $affordability-width;
  margin-bottom: $baseline-unit*4;
  margin-left: -0.8%;

  .affcalc__row {
    @extend %clearfix;
    clear:both;
    position: relative;
  }

  .affcalc__row--spaced {
    @extend .affcalc__row;
    margin-top: $baseline-unit*12;
  }

  .affcalc__col {
    @include column(12);
  }

  .affcalc__col--33 {
    @extend .affcalc__col;
    @include respond-to($mq-m) {
      @include column(4);
    }
  }

  .affcalc__col--50 {
    @extend .affcalc__col;
    @include respond-to($mq-m) {
      @include column(6);
    }
  }

  .affcalc__col--clip {
    @extend .affcalc__col;
    @include respond-to($mq-m) {
      @include column(8);
    }
  }

  .affcalc__col--field {
    @extend .affcalc__col;
    @include respond-to($mq-m) {
      @include column(5);
    }
    @include respond-to($mq-l) {
      @include column(4);
    }
  }

  .affcalc__col--tooltip {
    @extend .affcalc__col;
    @include respond-to($mq-m) {
      @include column(6);
      @include push(1);
      .js & {
        position: absolute;
      }
    }
    @include respond-to($mq-l) {
      @include column(7);
      @include push(1);
    }
  }

  .affcalc__row--slider {
    .sticky-wrapper > .l-stuck {
      padding-left: 0;
      padding-right: 0.4em;
    }

    @include respond-to($mq-l) {
      padding-left: 0;
      padding-right: 0.8em;

      .sticky-wrapper > .l-stuck {
        padding-right: 0;
      }
    }
  }
}

.affcalc__anchor-header-offset {
  &:before {
    content: ''; 
    display: block; 
    position: relative; 
    width: 0;
    height: 200px; 
    margin-top: -200px; 
    @include respond-to($mq-m) {
      height: 165px; 
      margin-top: -165px;
    }
  }
}
