.ns-mortgage-calc__buffer--show-on-positive,
.ns-mortgage-calc__buffer--show-on-negative {
  display: none;
}

.ns-mortgage-calc__buffer--positive {
  .ns-mortgage-calc__buffer--show-on-positive {
    display: block;
  }
}

.ns-mortgage-calc__buffer--negative {
  .ns-mortgage-calc__buffer--show-on-negative {
    display: block;
  }
}
