.callout {
  font-family: 'museo_sans';
  font-weight: 500;
  margin: 10px 0 30px;
  padding: 0 $baseline-unit*3 $baseline-unit*3;

  p {
    font-family: 'museo_sans';
    font-weight: 300;
    font-size: $font-medium;
    color: #333;
    margin: 10px 0 0;

    strong {
      font-size:px(24);
      font-weight: 500;
    }
  }

  h3 {
    margin-left: 0;
  }
}

.mortgagecalc__panel {
  .callout__heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'museo_sans';
    font-weight: 700;
    color: #333;
    font-size: $font-large;
  }
}
