.callout {
  font-family: 'museo_sans';
  font-weight: 500;
  margin: 10px 0 30px;

  p {
    font-family: 'museo_sans';
    font-weight: 300;
    font-size: $font-medium;
    color: #333;

    strong {
      font-size:px(24);
      font-weight: 500;
    }
  }

  h3 {
    margin-left: 0;
  }
}
