.expander {
  display: inline-block;
  background: url(/assets/mortgage_calculator/expander.png) 0 0 no-repeat;
  padding-left: 30px;
  font-size:0.875em;

  &.expander--expanded {
    background-position: 0 -38px;
  }
}