.expander {

}

.expander__link {
  display: inline-block;
  background: url(/assets/mortgage_calculator/expander.png) 0 0 no-repeat;
  padding-left: 30px;
  font-size:0.875em;

  &.expander__link--expanded {
    background-position: 0 -66px;
  }

  &.expander__link--nudge {
    margin-top: 15px;
  }
}
