.featured-list {
  font-family: "museo_sans";
  font-size: $font-medium;
  color: #333;
  counter-reset: li;
  margin: 2em 0 1.5em;
  border-bottom: 1px solid #dae1df;
  padding-bottom: 6px;

  strong {
    display: block;
    font-size: $font-medium;
    font-weight: 500;
  }

  @if $responsive == true {
    > li {
      position: relative;
      margin: 0 0 30px 1em;
      padding: 4px 20px;
      list-style: none;
      min-height: 60px;
    }

    > li:before {
      content: counter(li);
      counter-increment: li;

      position: absolute;
      top: -2px;
      margin-left: -42px;
      box-sizing: border-box;
      width: 1.6em;
      height: 1.6em;
      border-radius: 1.6em;
      color: #333;
      background: #ecd600;
      font-weight: 500;
      font-family: "museo_sans";
      font-size: $font-medium;
      text-align: center;
      line-height: 1.65em;
    }
  }
}

.featured-list--no-border {
  border-bottom: 0;
}

.featured-list--left {
  float: left;
}
