.inset-block {
  margin: $baseline-unit*2 0 $baseline-unit*3 0;

  @include respond-to($mq-s) {
    margin: $baseline-unit*2 0 $baseline-unit*5 0;
  }
}

.inset-block__content-container {
  border-left: 10px solid $color-validation-border;
  padding-left:10px;
  color:$color-validation-text;
  @include inline-block;
  background: $color-validation-summary-background;
  padding-right: $baseline-unit*3;
}

.inset-block__title {
  @extend %font-heading-heavy;
  margin: 0.75em 0;
}

.inset-block__list {
  a {
     color:$color-validation-text;
     text-decoration:none;
     &:hover, &:focus {
      text-decoration:underline;
     }
  }
}
