.mortgagecalc {
  font-family: 'museo_sans';
  font-weight: 300;
}

.mortgagecalc__heading,
.mortgagecalc__subheading {
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: $font-large;
  color: #333;
  margin-top: 0;
}

.mortgagecalc__subheading {
  font-size: $font-medium;
}

.mortgagecalc__container {
  @include column(12);
  position: relative;
  background: #f2f4f5;
  border: 1px solid #ccc;
  max-width: 600px;
  padding: 25px;
}

.mortgagecalc__panel {
  @include column(12);
  @include respond-to($mq-s) {
    @include column(6);
  }

  &.mortgagecalc__panel--full {
    @include respond-to($mq-s) {
      @include column(12);
    } 
  }

  &.mortgagecalc__panel--nudge {
    padding: 1.125rem;
    margin: 1.5rem 0;
  }
}

.mortgagecalc__panel--with-form {
  padding-bottom: 50px;
}

.mortgagecalc__submit {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.mortgagecalc__helper {
  float:left;
  margin-right: 40px;
}

.previous {
  @extend .mortgagecalc__submit;
  margin-right: 85px;
}
