* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.ns-mortgage-calc__mortgagecalc {
  font-family: 'museo_sans';
  font-weight: 300;
  font-size: 16px;
}

.ns-mortgage-calc__mortgagecalc__pageheading {
  font-family: 'museo_sans';
  font-weight: 700;
  font-size: $font-xlarge;
  max-width: $calc-width;
}

.ns-mortgage-calc__mortgagecalc__heading,
.ns-mortgage-calc__mortgagecalc__subheading {
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: $font-large;
  color: #333;
  margin-top: 0;
  max-width: $calc-width;
  line-height: 1.2;
  letter-spacing: -1px;
}

.ns-mortgage-calc__mortgagecalc__heading--xlarge {
  font-size: $font-xlarge;
}

.ns-mortgage-calc__mortgagecalc__heading--intro {
  color: #787a7a;
  line-height: 30px;
  margin-bottom: 17px;
}

.ns-mortgage-calc__mortgagecalc__subheading {
  font-size: $font-medium;
}

.ns-mortgage-calc__mortgagecalc__intro {
  margin-bottom: 24px;
}

.ns-mortgage-calc__mortgagecalc__container {
  @include column(12);
  position: relative;
  max-width: $calc-width;
  padding: 0 0 25px 0;
  margin:10px 0 0;
}

.ns-mortgage-calc__mortgagecalc__panel {
  @include column(12);
  @include respond-to($mortgagecalc_mq-s) {
    @include column(6);
  }

  &.ns-mortgage-calc__mortgagecalc__panel--full {
    @include respond-to($mortgagecalc_mq-s) {
      @include column(12);
    }
  }

  &.ns-mortgage-calc__mortgagecalc__panel--nudge {
    padding: 1.125rem;
    margin: 1.5rem 0;
    margin-top: 10px;
  }

  &.ns-mortgage-calc__mortgagecalc__panel--border {
    border-top: 1px solid #dae1df;
    margin-top: 5px;
    padding-top: 25px;
  }
}

.ns-mortgage-calc__mortgagecalc__form {
  margin-top: -6px;

  &.ns-mortgage-calc__mortgagecalc__form--pull {
    margin-top: -20px;
  }

}

.ns-mortgage-calc__mortgagecalc__payment {
  @extend .ns-mortgage-calc__mortgagecalc__heading;
  font-weight: 700;
  font-size: px(40);
}

.ns-mortgage-calc__mortgagecalc__submit {
  float:right;
  margin-bottom: 24px;

  &.ns-mortgage-calc__mortgagecalc__submit--flow {
    float: none;
  }
}

.ns-mortgage-calc__mortgagecalc__spread {
  @include respond-to($mortgagecalc_mq-s) {
    width: 48%;
  }
}

.ns-mortgage-calc__mortgagecalc__helper {
  float:left;
  margin-right: 40px;
}

.ns-mortgage-calc__mortgagecalc__caveat {
  clear: both;
  max-width: $calc-width;
}

.ns-mortgage-calc__mortgagecalc__feedback {
  clear: both;
  max-width: $calc-width;
  padding: 0;
  margin: $baseline-unit*3 0 $baseline-unit*4;

  #feedback-tab {
    padding-top: 11px;
    padding-bottom: 11px;

    a {
      font-family: 'museo_sans';
      font-size: $font-medium;
    }
  }
}

.previous {
  @extend .ns-mortgage-calc__mortgagecalc__submit;
  margin-right: 15px;
}

.ns-mortgage-calc__mortgagecalc__table {
  width: 100%;
  background: #fff;
  margin-bottom: 78px;
}

.js {
  .ns-mortgage-calc__label-follower[type="text"] {
    @extend %font-heading-heavy;
    color: $color-green-secondary;
    font-size: px(18);
    border: 0;
    display: inline-block;
    width: auto;
    width: min-content;
  }
}
