$error-red:#D00000;
$risk-medium:#FFC200;
$risk-low:#008021;

.risk__accent {
  @extend %font-heading-heavy;
}

.risk__percentage {
  font-size: px(40);
}

.risk-key {
  @include body(16, 24);
  margin: $baseline-unit*2 0 $baseline-unit*4;
  padding-left: 25px;
  position: relative;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: $baseline-unit;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: $color-grey-normal;
  }
}

.risk-slice--outgoings {
  fill: $color-grey-normal;
}

.risk--show-on-high,
.risk--show-on-medium,
.risk--show-on-low {
  display: none;
}

$risk-levels: (high, $error-red) (medium, $risk-medium) (low, $risk-low);

@each $level in $risk-levels {

  $level-name: nth($level, 1);
  $level-color: nth($level, 2);

  .risk--#{$level-name} {
    .risk__accent--color-only {
      background-color: $level-color;
    }

    .ui-slider .ui-slider-handle {
      &:focus,
      &:active {
        border-color: $level-color;
      }
    }

    .ui-slider .ui-slider-handle {
      &:after {
        border-bottom-color: $level-color;
      }
    }

    .risk-slice--incoming {
      fill: $level-color;
    }

    .risk-key--incoming {
      &:after {
        background: $level-color;
      }
    }

    .risk--show-on-#{$level-name} {
      display: block;
    }
  }
}

