.risk__accent {
  @extend %font-heading-heavy;
}

.risk-key {
  @include body(16, 24);
  margin: $baseline-unit*2 0 $baseline-unit*4;
  padding: 0;
  position: relative;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: $baseline-unit;
    left: -25px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #ccc;
  }
}

.risk-slice--incoming {
  fill: #ccc;
}

.risk--high {
  .risk__accent {
    color: $color-red-dark;
  }

  .risk-slice--outgoings {
    fill: $color-red-dark;
  }

  .risk-key--incoming {
    &:after {
      background: $color-red-dark;
    }
  }
}

.risk--medium {
  .risk__accent {
    color: $color-yellow-dark;
  }

  .risk-slice--outgoings {
    fill: $color-yellow-dark;
  }

  .risk-key--incoming {
    &:after {
      background: $color-yellow-dark;
    }
  }
}

.risk--low {
  .risk__accent {
    color: $color-green-medium;
  }

  .risk-slice--outgoings {
    fill: $color-green-medium;
  }

  .risk-key--incoming {
    &:after {
      background: $color-green-medium;
    }
  }
}
