.risk-accent {
  @extend %font-heading-heavy;
}

.risk-accent--high {
  @extend .risk-accent;
  color: $color-red-dark;
}

.risk-accent--medium {
  @extend .risk-accent;
  color: $color-orange-medium;
}

.risk-accent--low {
  @extend .risk-accent;
  color: $color-green-medium;
}
