@mixin stamp-duty__col {
  display: inline;
  float: left;
  width: 100%;

  @include respond-to($mortgagecalc_mq-m) {
    width: 50%;
  }
}

.stamp-duty__step-one {
  margin-top: 0;

  @include respond-to($mortgagecalc_mq-s) {
    margin-top: $baseline-unit*5;
  }
}

.stamp-duty {
  border: solid $color-grey-light 1px;
  overflow: hidden;
  padding: 0 $baseline-unit*4;
  max-width: none;
  margin-top: $baseline-unit;

  @include respond-to($mortgagecalc_mq-s) {
    margin-top: $baseline-unit*8;
  }
}

.stamp-duty__calculation-explanation {
  background-color: white;
  margin-top: $baseline-unit*2;
}

.stamp-duty__heading {
  @include body(24,36);
  margin-top: $baseline-unit*4;
  margin-bottom: $baseline-unit;

  @include respond-to($mortgagecalc_mq-s) {
    @include body(40,45);
  }
}

.stamp-duty__subheading {
  @include body(16,24);
  font-weight: 300;
  margin-bottom: 0;

  @include respond-to($mortgagecalc_mq-s) {
    @include body(21,24);
  }
}

.stamp-duty__form {
  margin-top: 0;
  overflow: hidden;
  padding: $baseline-unit;

  @include respond-to($mortgagecalc_mq-s) {
    margin: 0 0 $baseline-unit*3;
  }
}

.stamp-duty__input-description {
  display: block;
  @include body(14,24);
  color: $color-true-black;
  font-weight: 600;
  padding: $baseline-unit*2 0;
  margin: 0;

  @include respond-to($mortgagecalc_mq-s) {
    float: left;
    display: inline-block;
    @include body(21,24);
  }
}

input.stamp-duty__input {
  @include body(21,24);
  border: 1px solid $color-grey-light;
  border-radius: 0.2rem;
  display: inline-block;
  height: 3.2rem;
  padding-left: 2rem;

  @include respond-to($mortgagecalc_mq-s) {
    @include body(24,24);
    float: left;
  }
}

.stamp-duty__input--unit {
  @include body(21,24);
  font-weight: 400;
  color: $color-true-black;
  position: absolute;
  top: 0.9rem;
  left: 1rem;

  @include respond-to($mortgagecalc_mq-s) {
    @include body(24,24);
  }
}

.stamp-duty__input-wrapper {
  width: 100%;
  position: relative;
  float: left;
}

.stamp-duty__input-wrapper--inline {
  @include respond-to($mortgagecalc_mq-s) {
    margin-left: $baseline-unit*2;
    width: 40%;
  }
}

.stamp-duty__submit {
  width: 100%;
  margin-top: $baseline-unit;

  @include respond-to($mortgagecalc_mq-s) {
    width: $baseline-unit*14;
    margin: 0 $baseline-unit*2;
  }
}

.stamp-duty__buyer-type {
  @include body(13,24);
  margin: $baseline-unit*3 0;

  @include respond-to($mortgagecalc_mq-s) {
    @include body(18,24);
  }
}

.stamp-duty__description {
  overflow: hidden;
  margin-bottom: $baseline-unit*6;
}

.stamp-duty__description-item {
  @include column(12);

  @include respond-to($mortgagecalc_mq-s) {
    @include column(6);
  }
}

.stamp-duty__have-you-tried {
  @include body(20, 24);
  margin-top: $baseline-unit*5;
}

.stamp-duty__calculator-column {
  @include stamp-duty__col;

  @include respond-to($mortgagecalc_mq-s) {
    margin-top: $baseline-unit*2;
  }

  @include respond-to($mortgagecalc_mq-m) {
    border-right: 1px solid $color-grey-pale;
    padding-right: $baseline-unit*4;
    margin-bottom: $baseline-unit*4;
  }
}

.stamp-duty__info-column {
  @include stamp-duty__col;

  @include respond-to($mortgagecalc_mq-m) {
    padding-left: $baseline-unit*4;
    margin-top: $baseline-unit*2;
  }
}

.stamp-duty__results {
  background: $color-grey-pale;
  padding: $baseline-unit*3;
}

.stamp-duty__results-heading {
  @include body(16,30);

  color: $color-true-black;
  font-weight: 500;
  display: inline;

  @include respond-to($mortgagecalc_mq-s) {
    @include body(24,36);
  }
}

.stamp-duty__results-tax-rate {
  margin: $baseline-unit 0;
}

.stamp-duty__FTB_conditional {
  display: none;

  &.is-active {
    display: block;
  }
}

.stamp-duty__button {
  width: 100%;

  @include respond-to($mortgagecalc_mq-s) {
    width: 48%;
  }

  @include respond-to($mortgagecalc_mq-m) {
    width: 100%;
  }
}

.stamp-duty__info-subheading {
  @include body(24,24);
  font-weight: 700;
}

p.stamp-duty__info-tip {
  @include body(16,24)
}

.stamp-duty__info-tip-link {
  @include body(16,24)
}

.stamp-duty__table {
  margin-bottom: 0;
}
