.tooltip {
  margin-top: $baseline-unit*3;

  @include respond-to($mq-m) {
    position: absolute;
    margin-top: $baseline-unit*8;

    &.tooltip--hidden {
      @include visually-hidden;
    }
  }
}
