.tooltip {
  margin-top: -40px;
  margin-bottom: $baseline-unit*6;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*4;
  }

  &.tooltip--hidden {
    @include visually-hidden;
  }
}

.tooltip--push {
  @include respond-to($mq-m) {
    margin-top: $baseline-unit*8;
  }
}

.tooltip--push-small {
  @include respond-to($mq-m) {
    margin-top: $baseline-unit*4;
  }
}
