<h1>Mortgage Calculators</h1>

<ul>
  <li><%= link_to "How much can I borrow?", affordability_path %></li>
  <li><%= link_to "Repayment Calculator", repayment_path %></li>
  <li><%= link_to "Stamp Duty", stamp_duty_path %></li>
</ul>

<div class="container" ui-view>
</div>

