<div class="ns-mortgage-calc__affcalc__row">
  <div class="ns-mortgage-calc__affcalc__col--33">
    <%= f.form_row do %>
      <%= f.label :interest_rate,
        "id" => "label_interest_rate" %>

      <span class="ns-mortgage-calc__form__input-container">
        <%= f.text_field :interest_rate,
               "autofocus" => "",
               "class" => "ns-mortgage-calc__form__input",
               "ng-model" => "repayments.annualInterestRate",
               "aria-labelledby" => "label_interest_rate label_interest_rate_a",
               "percentage" => "",
               "placeholder" => "Eg. 5",
               "analytics" => '',
               "analytics-on" => 'change',
               "analytics-category" => 'Affordability Calculator',
               "analytics-action" => 'Refinement',
               "analytics-label" => 'Interest Rate' %>
        <span class="ns-mortgage-calc__form__input-label" id="label_interest_rate_a">%</span>
        <span class="ns-mortgage-calc__form__input-outline"></span>
      </span>

      <div class="slider"
          id="slider-interest-rate"
          ui-slider min="1"
          max="15" step="1"
          ng-model="repayments.annualInterestRate"
          aria-labelledby="label_interest_rate label_interest_rate_a"
          analytics-category="Affordability Calculator"
          analytics-action="Refinement"
          analytics-label="Interest Rate">
      </div>
    <% end %>
  </div>
</div>
