<div class="mortgagecalc__panel mortgagecalc__panel--full">
     <p>
       <%= f.label :interest_rate,
          "id" => "label_interest_rate" %>
     </p>
</div>

<div class="mortgagecalc__panel">
     <%= f.text_field :interest_rate,
                       "autofocus" => "",
                       "ng-model" => "repayments.annualInterestRate",
                       "placeholder" => "eg 5%",
                       "percentage" => "",
                       "data-a-sign" => "%",
                       "data-p-sign" => "s",
                       "analytics" => '',
                       "analytics-on" => 'change',
                       "analytics-category" => 'Affordability Calculator',
                       "analytics-action" => 'Refinement',
                       "analytics-label" => 'Interest Rate' %><span ng-hide="js">%</span>
     <div class="slider"
          id="slider-interest-rate"
          ui-slider min="1"
          max="15" step="1"
          ng-model="repayments.annualInterestRate"
          aria-labelledby="label_interest_rate"
          analytics-category="Affordability Calculator"
          analytics-action="Refinement"
          analytics-label="Interest Rate">
     </div>
</div>
