<p>
  <%= f.label :interest_rate %>
  <%= f.text_field :interest_rate,
                    "autofocus" => "",
                    "ng-model" => "repayments.annualInterestRate",
                    "placeholder" => "eg 5%",
                    "percentage" => "",
                    "data-a-sign" => "%",
                    "data-p-sign" => "s" %><span ng-hide="js">%</span>
</p>

<div class="slider"
     ui-slider min="0.25"
     max="15" step="0.25"
     ng-model="repayments.annualInterestRate"
     aria-labelledby="label_rate"
     analytics-category="Affordability Calculator"
     analytics-action="Refinement"
     analytics-label="Interest Rate">
</div>

