<% if @affordability.valid? %>
  <p ng-hide="js" class=" results">
    <%= f.label :borrowing %><%= f.text_field :borrowing %>
  </p>
<% end %>

<label class="rendered-from-js results dynamic-slider-property label-follower label-follower--top" id="borrowing-amount" for="borrowing-amount-slider">
  {{ repayments.propertyPrice | customCurrency:"£"}}
</label>

<div class="slider slider--with-follower-top slider--squeeze" ui-slider min="affordability.minimumBorrowing()" max="affordability.maximumBorrowing()" step="1000" ng-model="repayments.propertyPrice" label-follower="#borrowing-amount" aria-labelledby="borrowing-amount" analytics-category="Affordability Calculator" analytics-action="Refinement" analytics-label="Borrowing" id="slider-borrowing"></div>

<p class="rendered-from-js borrowing-range">
  <span class="borrowing-range__min">
    {{ affordability.minimumBorrowing() | customCurrency:"£"}}
  </span>

  <span class="borrowing-range__max">
    {{ affordability.maximumBorrowing() | customCurrency:"£"}}
  </span>
</p>
