
<% if @affordability.valid? %>
  <p ng-hide="js" class=" results">
    Borrowing: <%= f.text_field :borrowing %>
  </p>
<% end %>

<p class="rendered-from-js results dynamic-slider-property">
  Borrowing: {{ repayments.propertyPrice | customCurrency:"£"}}
</p>

<div class="slider" ui-slider min="affordability.minimumBorrowing()" max="affordability.maximumBorrowing()" step="1000" ng-model="repayments.propertyPrice" aria-labelledby="label_rate" analytics-category="Affordability Calculator" analytics-action="Refinement" analytics-label="Interest Rate"></div>

<p class="rendered-from-js results">
  {{ affordability.minimumBorrowing() | customCurrency:"£"}}
</p>

<p class="rendered-from-js results">
  {{ affordability.maximumBorrowing() | customCurrency:"£"}}
</p>
