<% if @affordability.valid? %>
  <p ng-hide="js" class=" results">
    <%= f.label :borrowing %><%= f.text_field :borrowing %>
  </p>
<% end %>

<label class="rendered-from-js results dynamic-slider-property label-follower label-follower--top" id="borrowing-amount" for="borrowing-amount-slider">
  {{ repayments.propertyPrice | customCurrency:"£"}}
</label>

<div class="slider slider--with-follower-top" ui-slider min="affordability.minimumBorrowing()" max="affordability.maximumBorrowing()" step="borrowingStepValue" ng-model="repayments.propertyPrice" label-follower="#borrowing-amount" aria-labelledby="borrowing-amount" analytics-category="Affordability Calculator" analytics-action="Refinement" analytics-label="Borrowing" id="borrowing-amount-slider"></div>

<p class="rendered-from-js results">
  {{ affordability.minimumBorrowing() | customCurrency:"£"}}
</p>

<p class="rendered-from-js results">
  {{ affordability.maximumBorrowing() | customCurrency:"£"}}
</p>
