<%= f.label :borrowing, "id" => "label_borrowing_amount", "class" => "visually-hidden" %>

<%= f.text_field :borrowing,
  "class" => "form__input results dynamic-slider-property label-follower label-follower--top risk__accent--color-only",
  "id" => "borrowing-amount",
  "for" => "borrowing-amount-slider",
  "ng-model" => "repayments.propertyPrice",
  "aria-labelledby" => "label_borrowing_amount",
  "ng-docked" => "docked",
  "currency" => "",
  "ng-autosize" => "",
  "data-m-dec" => "0",
  "data-a-sign" => "£",
  "value" => @affordability.borrowing_formatted
%>

<div class="slider slider--with-follower-top slider--squeeze risk__accent--color-only"
     ui-slider min="affordability.minimumBorrowing()"
     max="affordability.maximumBorrowing()"
     step="10"
     ng-model="repayments.propertyPrice"
     label-follower="#borrowing-amount"
     aria-labelledby="borrowing-amount"
     analytics-category="Affordability Calculator"
     analytics-action="Refinement"
     analytics-label="Borrowing"
     id="slider-borrowing"
     ng-docked="docked">
</div>

<p class="rendered-from-js affordability-range">
  <span class="affordability-range__min">
    {{ affordability.minimumBorrowing() | customCurrency:"£":"whole"}}
  </span>

  <span class="affordability-range__max">
    {{ affordability.maximumBorrowing() | customCurrency:"£":"whole"}}
  </span>
</p>

<div class="form__row hide-with-js">
  <%= f.submit I18n.t("affordability.recalculate"), class: "button recalculate-button" %>
</div>
