
<p ng-hide="js" class=" results">
  Committed costs are <%= number_to_currency @affordability.committed_costs %>
</p>

<p class="rendered-from-js results">
  Committed costs are {{ affordability.committedCosts() }}.
</p>
