
<p ng-hide="js" class="results">
  Fixed costs are <%= number_to_currency @affordability.committed_costs + @affordability.fixed_costs %>
</p>

<p class="rendered-from-js results">
  Estimated fixed and spending commitments per month are: {{ affordability.committedCosts() | customCurrency:"£" }}
</p>
