
<% if @affordability.valid? %>
  <p ng-hide="js" class=" results">
    Remaining per month is <%= number_to_currency @affordability.remaining %>
  </p>
<% end %>

<p class="rendered-from-js results">
  Your estimated remaining money per month is &pound;750.
</p>
