
<p ng-hide="js" class="mortgagecalc__heading mortgagecalc__payment squeeze results">
  Remaining per month is <%= number_to_currency @affordability.remaining %>
</p>

<p class="rendered-from-js mortgagecalc__heading mortgagecalc__payment squeeze results">
  Remaining per month is: {{ affordability.monthlyMortgageRepayment() }}.
</p>
