
<% if @affordability.valid? %>
  <p ng-hide="js" class="results">
    Estimated mortgage repayments per month, approx: <strong><%= number_to_currency @affordability.repayment.monthly_payment %></strong>
  </p>
<% end %>

<p class="rendered-from-js results">
  Estimated mortgage repayments per month, approx: <strong>{{ affordability.monthlyRepayment() | customCurrency:"£" }}</strong>
</p>
