
<p ng-hide="js" class="results">
  Estimated mortgage repayments per month, approx: <%= number_to_currency @affordability.repayment.monthly_payment %>
</p>

<p class="rendered-from-js results">
  Estimated mortgage repayments per month, approx: {{ affordability.monthlyMortgageRepayment() }}
</p>
