
<% if @affordability.valid? %>
  <p ng-hide="js" class="mortgagecalc__heading results">
    You might be offered between <%= number_to_currency @affordability.can_borrow_from %> and <%= number_to_currency @affordability.can_borrow_upto%>
  </p>
<% end %>

<p class="rendered-from-js results">
  You may be offered a range between {{ affordability.minimumBorrowing() | customCurrency:"£" }} to {{ affordability.maximumBorrowing() | customCurrency:"£" }}
</p>
