<div class="buffer--show-on-positive">
  <p><strong><%= t("affordability.budget.positive.remaining_html",
                    link: link_to(t("affordability.budget.positive.link_text"), next_steps_affordability_path)) %></strong></p>
</div>

<div class="buffer--show-on-negative">
  <p><strong><%= t("affordability.budget.negative.remaining_html",
                    link: link_to(t("affordability.budget.negative.link_text"), next_steps_affordability_path)) %></strong></p>
</div>

