<p ng-hide="js" class="results">
  <%= number_to_percentage @affordability.risk_percentage, precision: 0 %>.
</p>

<p class="rendered-from-js results">
  71%
</p>

<!-- <div class="pie test" ng-pie data-incoming="500" data-outgoing="100" data-pie-text="20">
</div>
 -->
