<p ng-hide="js" class="results">
  <%= number_to_percentage @affordability.risk_percentage, precision: 0 %>.
</p>

<div class="pie test" ng-pie data="data" risk-proportion="affordability.riskPercentage()" risk-outgoings="affordability.riskAmount()" risk-incoming="affordability.takeHomePay()">

</div>
