
<p ng-hide="js" class="results">
  Mortgage repayments and fixed costs per month: <%= number_to_percentage @affordability.risk_percentage, precision: 0 %> of your monthly take home.
</p>

<p ng-hide="js" class="results">
  What you will have left over: <%= number_to_percentage @affordability.inverse_risk_percentage, precision: 0 %> of your monthly takehome
</p>

<p class="rendered-from-js results">
  Mortgage repayments and fixed costs per month: 64% of your monthly take home.
</p>

<p class="rendered-from-js results">
  What you will have left over: 45% of your monthly takehome
</p>
