<p ng-hide="js" class="results">
  <%= t "affordability.budget.outgoing",
         percent: number_to_percentage(@affordability.risk_percentage, precision: 0),
         absolute: @affordability.budget_outgoing_formatted %>
</p>

<p ng-hide="js" class="results">
  <%= t "affordability.budget.leftover",
         percent: number_to_percentage(@affordability.inverse_risk_percentage, precision: 0),
         absolute: @affordability.budget_leftover_formatted %>
</p>

<p class="rendered-from-js results">
  <%= t "affordability.budget.outgoing_html",
         percent: "<strong> {{ affordability.riskPercentage() }}% </strong>".html_safe,
         absolute: "<strong>{{ affordability.riskAmount() | customCurrency:'£' }} </strong>".html_safe %>
</p>

<p class="rendered-from-js results">
  <%= t "affordability.budget.leftover",
         percent: "",
         absolute: "" %>
</p>

