<p ng-hide="js" class="results">
  <%= t "affordability.budget.outgoing",
         percent: number_to_percentage(@affordability.risk_percentage, precision: 0) %>
</p>

<p ng-hide="js" class="results">
  <%= t "affordability.budget.leftover",
         percent: number_to_percentage(@affordability.inverse_risk_percentage, precision: 0) %>
</p>

<p class="rendered-from-js results">
  <%= t "affordability.budget.outgoing",
         percent: "" %>
</p>

<p class="rendered-from-js results">
  <%= t "affordability.budget.leftover",
         percent: "" %>
</p>

