
<p ng-hide="js" class="squeeze results">
  Your take home pay per month: <%= number_to_currency @affordability.monthly_net_income %>
</p>
<p class="rendered-from-js  squeeze results">Your take home pay per month: {{ affordability.takeHomePay() }}</p>
