
<p>Stamp Duty is calculated as a percentage of your property price</p>

<table class="table">
  <thead>
    <tr>
      <th>Property Price</th>
      <th>Stamp duty rate*</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>&pound;0 to &pound;125,000</td>
      <td>0%</td>
    </tr>

    <tr>
      <td>&pound;125,000 to &pound;250,000</td>
      <td>1%</td>
    </tr>

    <tr>
      <td>&pound;250,000 to &pound;500,000</td>
      <td>3%</td>
    </tr>

    <tr>
      <td>&pound;500,000 to &pound;1 million</td>
      <td>4%</td>
    </tr>

    <tr>
      <td>&pound;1 million to &pound;2 million</td>
      <td>5%</td>
    </tr>

    <tr>
      <td>Over &pound;2 million</td>
      <td>7%</td>
    </tr>
  </tbody>
</table>


<p><a href="#" class='button mortgagecalc__submit previous rendered-from-js' ng-click="navigateAndFocus($event, 'previous')" /><%= I18n.t('mortgage_calculator.stamp_duty.back') %></a></p>

<p><%= link_to I18n.t('mortgage_calculator.stamp_duty.next'), next_steps_repayment_path, class: "button button--primary mortgagecalc__submit",
                                                                    'wz-next' => '' %></p>
