<p><%= I18n.t("mortgage_calculator.stamp_duty.how_calculated") %></p>

<table class="table">
  <thead>
    <tr>
      <th><%= I18n.t("mortgage_calculator.stamp_duty.table.property_price_header") %></th>
      <th><%= I18n.t("mortgage_calculator.stamp_duty.table.rate_header") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>&pound;0 - &pound;125,000</td>
      <td>0%</td>
    </tr>

    <tr>
      <td>&pound;125,000 - &pound;250,000</td>
      <td>1%</td>
    </tr>

    <tr>
      <td>&pound;250,000 - &pound;500,000</td>
      <td>3%</td>
    </tr>

    <tr>
      <td>&pound;500,000 - &pound;1 million</td>
      <td>4%</td>
    </tr>

    <tr>
      <td>Over &pound;1 million - &pound;2 million</td>
      <td>5%</td>
    </tr>
  </tbody>
</table>

