<div class="global-alert global-alert--warning">
  <div class="global-alert__content-container">
    <strong class="global-alert__heading">
      <%= t('mortgage_calculator.budget_warning.heading') %>
    </strong>
      <p class="global-alert__message"><%= t('mortgage_calculator.budget_warning.intro') %></p>
      <ul class="global-alert__list">
        <%= t('mortgage_calculator.budget_warning.list_html') %>
      </ul>
      <p class="global-alert__message"><%= t('mortgage_calculator.budget_warning.outro') %></p>
  </div>
</div>
