<div class="mortgagecalc__panel">

  <div class="tabs">

    <div class="tabs__content">
      <div class="tabs__panel">
        <h3 class="subheading hide-with-js">Stamp duty to pay is:</h3>
        <%= render 'stamp_duty_payment' %>
      </div>
    </div>


  </div>

  <p><a href="#" class="rendered-from-js expander" ng-class="{ 'expander--expanded' : expandedMortgageInformation }" ng-click="toggleExpanded($event)">How is this calculated?</a></p>

  <div ng-show="expandedMortgageInformation">
    <%= render 'stamp_duty_tip' %>
  </div>
</div>

