<div class="mortgagecalc__caveat callout">
  <h4 class="callout__heading">Important:</h4>

  <ul>
    <li>Before applying for a mortgage, it's best to check your credit rating and make sure you're registered on the electoral roll.</li>
  </ul>
</div>
