<div class="mortgagecalc__caveat callout">
  <h4 class="callout__heading"><%= I18n.t("mortgage_calculator.stamp_duty.caveat.title") %>:</h4>

  <ul>
    <li><%= I18n.t("mortgage_calculator.stamp_duty.caveat.one") %></li>
  </ul>
</div>
