<div class="ns-mortgage-calc__mortgagecalc__caveat ns-mortgage-calc__callout">
  <h4 class="ns-mortgage-calc__callout__heading"><%= I18n.t("stamp_duty.caveat.title") %>:</h4>

  <p><%= I18n.t("stamp_duty.caveat.one") %></p>
</div>
