<%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form', class: 'form step_one', novalidate: '' } do |f| %>
  <div class="ns-mortgage-calc__mortgagecalc__panel">
    <div class="ns-mortgage-calc__form__item">
      <%= f.label :price %>
      <%= f.text_field :price,
                       :value => @stamp_duty.price_formatted,
                       class: 'ns-mortgage-calc__dynamic-slider-property',
                       "autofocus" => '',
                       "ng-model" => "stampDuty.propertyPrice",
                       "placeholder" => "£0.00",
                       "currency" => '',
                       "data-a-sign" =>"£",
                       "data-m-dec" =>"0",
                       "pattern" => '\d*' %>

    </div>
  </div>

  <div class="ns-mortgage-calc__mortgagecalc__panel ns-mortgage-calc__mortgagecalc__panel--full ns-mortgage-calc__mortgagecalc__panel--with-form">
    <%= f.submit I18n.t("stamp_duty.next"),
                 class: "button button--primary ns-mortgage-calc__mortgagecalc__submit",
                 'ng-click' => 'navigateAndFocus($event)',
                 'ng-disabled' => '!stampDuty.propertyPrice',
                 'analytics-category' => 'Stamp Duty Calculator',
                 'analytics-action' => 'Completion',
                 'analytics-label' => 'Click',
                 'analytics' => '',
                 'analytics-on' => 'click'
                 %>

  </div>
<% end %>

