<%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form', class: 'step_two' } do |f| %>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price,
                     class: 'dynamic-slider-property',
                     "ng-model" => "stampDuty.propertyPrice",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" => "£",
                     "data-m-dec" => "0",
                     "analytics" => "",
                     "analytics-on" => "change",
                     "analytics-category" => "Stamp Duty",
                     "analytics-action" => "Refinement",
                     "analytics-label" => "Price"
                     %>

    <div class="slider" ui-slider dynamic-for='dynamic-slider-property' ng-model="stampDuty.propertyPrice" analytics-category="Stamp Duty" analytics-action="Refinement" analytics-label="Price"></div>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("mortgage_calculator.stamp_duty.recalculate"),
                        'class' => 'button',
                        'wz-next' => '' %></p>
  </div>

<% end %>

