<%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form' } do |f| %>


  <div>
    <%= f.label :price %>
    <%= f.text_field :price,
                     "ng-model" => "stampDuty.propertyPrice",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" =>"£",
                     "data-m-dec" =>"0" %>

    <div class="slider" ui-slider min="0" max="2000000" step="1000" ng-model="stampDuty.propertyPrice"></div>

  </div>



  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("repayment.recalculate"),
              'class' => 'button',
                        'wz-next' => '' %></p>
  </div>
<% end %>

