<%= form_for @stamp_duty, url: stamp_duty_path, html: { name: 'stamp_duty_form', role: 'form', class: 'form step_two ns-mortgage-calc__mortgagecalc__form ns-mortgage-calc__mortgagecalc__form--pull', 'ng-submit' => 'preventFormSubmission($event)', novalidate: '' } do |f| %>
  <div class="ns-mortgage-calc__form__item">
    <%= f.label :price %>
    <%= f.text_field :price,
                     :value => @stamp_duty.price_formatted,
                     class: 'ns-mortgage-calc__dynamic-slider-property',
                     "ng-model" => "stampDuty.propertyPrice",
                     "placeholder" => "£0.00",
                     "currency" => '',
                     "data-a-sign" => "£",
                     "data-m-dec" => "0",
                     "analytics" => "",
                     "analytics-on" => "change",
                     "analytics-category" => "Stamp Duty Calculator",
                     "analytics-action" => "Refinement",
                     "analytics-label" => "Price",
                     "pattern" => '\d*'
                     %>

    <div class="slider" ui-slider dynamic-for='ns-mortgage-calc__dynamic-slider-property' ng-model="stampDuty.propertyPrice" analytics-category="Stamp Duty" analytics-action="Refinement" analytics-label="Price"></div>
  </div>

  <div class="hide-with-js">
    <p><br><%= f.submit I18n.t("stamp_duty.recalculate"),
                        'class' => 'button',
                        'wz-next' => '' %></p>
  </div>

<% end %>

