<!-- <p class="knock-back"><%= I18n.t('stamp_duty.pretitle') %></p> -->

<% content_for(:tool_heading) do %>
  <h1><%= I18n.t('stamp_duty.h1') %></h1>
<% end %>

<h1><%= I18n.t('stamp_duty.title') %></h1>

<p><%= I18n.t('stamp_duty.subtitle') %></p>

