<p>If you’re about to buy a new home, use this calculator to get an estimate of how much stamp duty you’ll need to pay. This is an early version of our stamp duty calculator - a new addition to our range of calculators. We’d welcome your feedback on how helpful you found it and ideas for improving it.</p>

<% content_for(:tool_heading) do %>
  <h1><%= I18n.t('mortgage_calculator.stamp_duty.h1') %></h1>
<% end %>

<h2 class="mortgagecalc__pageheading"><%= I18n.t('mortgage_calculator.stamp_duty.title') %></h2>

<h3 class="mortgagecalc__heading"><%= I18n.t('mortgage_calculator.stamp_duty.subtitle') %></h3>

