<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <% content_for(:tool_heading, I18n.t('stamp_duty.h1')) %>

  <h2><%= I18n.t('stamp_duty.title') %></h2>
  <p class="mortgagecalc__intro"><%= I18n.t('stamp_duty.subtitle') %></p>
</div>
