<p><%= I18n.t('mortgage_calculator.stamp_duty.intro') %></p>

<% content_for(:tool_heading) do %>
  <h1><%= I18n.t('mortgage_calculator.stamp_duty.h1') %></h1>
<% end %>

<h2 class="mortgagecalc__pageheading"><%= I18n.t('mortgage_calculator.stamp_duty.title') %></h2>

<p class="mortgagecalc__heading"><%= I18n.t('mortgage_calculator.stamp_duty.subtitle') %></p>

