<p><%= I18n.t("stamp_duty.how_calculated") %></p>
<p><%= I18n.t("stamp_duty.how_calculated_additional") %></p>

<%= render 'bands_table', rates: @rates %>

<p><%= I18n.t('stamp_duty.how_calculated_extra', amount: second_home_threshold) %></p>
