
<p><a href="#" class="rendered-from-js expander" ng-class="{ 'expander--expanded' : expandedMortgageInformation }" ng-click="toggleExpanded($event)"><%= I18n.t("mortgage_calculator.stamp_duty.how_calculated_toggle") %></a></p>

<div ng-show="expandedMortgageInformation">
  <%= render 'bands_table' %>
</div>

<p><a href="#" class='button mortgagecalc__submit previous rendered-from-js' ng-click="navigateAndFocus($event, 'previous')" /><%= I18n.t('mortgage_calculator.stamp_duty.back') %></a></p>

<p><%= link_to I18n.t('mortgage_calculator.stamp_duty.next'), next_steps_stamp_duty_path, class: "button button--primary mortgagecalc__submit",
                                                                  'wz-next' => '' %></p>
