<div class="mortgagecalc__panel--full">
  <div ng-show="expandedStampDutyInformation" class="mortgagecalc__tip">
    <div class="stamp-duty stamp-duty__calculation-explanation">
      <%= render 'bands_table' %>
    </div>
  </div>
</div>
