<p ng-hide="js" class="ns-mortgage-calc__mortgagecalc__heading ns-mortgage-calc__mortgagecalc__payment squeeze results"><%= number_to_currency @stamp_duty.tax_due_formatted %></p>
<p class="rendered-from-js ns-mortgage-calc__mortgagecalc__heading ns-mortgage-calc__mortgagecalc__payment squeeze results">{{ stampDuty.cost() | customCurrency:"£" }}</p>
<p ng-hide="js" class="squeeze results-text"><%= I18n.t("stamp_duty.results.sentence", percentage: number_to_percentage(@stamp_duty.percentage_rate, precision: 0)) %></p>
<p class="rendered-from-js squeeze results-text"><%= I18n.t("stamp_duty.results.sentence_prefix") %> {{ stampDuty.percentRate() | number: 0 }}<%= I18n.t("stamp_duty.results.sentence_suffix") %></p>
