<p class="rendered-from-js mortgagecalc__heading mortgagecalc__payment squeeze">{{ stampDuty.cost() | customCurrency:"£" }}</p>
<p class="squeeze">The {{ stampDuty.percentRate() | number: 0 }}% of your property price</p>
