<div ng-show="expandedMortgageInformation">
  <%= render 'bands_table' %>
</div>

<p><a href="#" class='button mortgagecalc__submit previous rendered-from-js' ng-click="navigateAndFocus($event, 'previous')"><%= I18n.t('mortgage_calculator.stamp_duty.back') %></a></p>

<p><%= link_to I18n.t('mortgage_calculator.stamp_duty.next'), next_steps_stamp_duty_path,
               class: "button button--primary mortgagecalc__submit",
               'wz-next' => '',
               'analytics' => '',
               'analytics-on' => 'click',
               'analytics-category' => 'Stamp Duty Calculator',
               'analytics-action' => 'Next Steps',
               'analytics-label' => 'Click'
               %></p>
