
  <p><a href="#" class="rendered-from-js expander" ng-class="{ 'expander--expanded' : expandedMortgageInformation }" ng-click="toggleExpanded($event)"><%= I18n.t("mortgage_calculator.stamp_duty.how_calculated_toggle") %></a></p>

  <div ng-show="expandedMortgageInformation">
    <%= render 'bands_table' %>
  </div>
