<%= render 'header' %>

<div class="mortgagecalc__container ">
  <%= render 'next_steps_content' %>
</div>

<%= render 'caveat' %>

<div class="mortgagecalc__feedback"><%= zendesk_feedback_tab(zendesk_stamp_duty_config) %></div>

