




<!DOCTYPE html>
<html class='no-js' lang="en">
<head>
  <title>Dummy</title>
  <script src="/assets/modernizr-654222debe8018b12f1993ceddff30dc163a7d5008d79869c399d6d167321f97.js"></script>
    <script>
   window.calculator_config = {"tool":"ltt","standard":[{"threshold":180000,"rate":0},{"threshold":250000,"rate":3.5},{"threshold":400000,"rate":5},{"threshold":750000,"rate":7.5},{"threshold":1500000,"rate":10},{"threshold":null,"rate":12}],"second_home_tax_rate":3,"second_home_threshold":40000};
  </script>

      <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
      <link rel="stylesheet" media="all" href="/assets/mortgage_calculator_enhanced_fixed-b1e9a95d6c8f9b9e6f99fd25936da1881084e33f6987b0e8938f31e051c462e3.css" />
      <![endif]-->

      <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <link rel="stylesheet" media="only all" href="/assets/mortgage_calculator_enhanced_responsive-b9518bd0f8f64343ae532bcb5313b471089b9cfd81fdeae5435f06bd8ebfb9a2.css" />
      <!--<![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" media="print" href="/assets/mortgage_calculator_print-07a3235df860c9183533a25994c42b3bb72df879e5bbea712b09d8b0a0d27624.css" />

  <script src="/assets/mortgage_calculator/application-e59824896df2dbf3ed0ede3436d8a5addec9dddab2c0098bcba57e4fa6cf1516.js"></script>

    <script type='text/javascript'>
    var dataLayer = dataLayer || [];
  </script>

</head>
<body class="locale-en">

  <div ng-app="mortgageCalculatorApp" class="mortgagecalc">
    
<div ng-controller="CalculatorCtrl" class="mortgagecalc__container stamp-duty">
  <div wizard on-finish="finishedWizard()" hide-indicators='true'>
    <div wz-step class="ng-hide">
      <div class="stamp-duty__container">
        <h1 class="stamp-duty__heading">
          Land Transaction Tax (LTT) calculator
        </h1>
        <h2 class="intro stamp-duty__subheading">
          Calculate the Land Transaction Tax on your residential property in Wales
        </h2>
        <p>
          You must pay Land Transaction tax if you buy a property or land over a certain price in Wales over the current threshold of £180,000 for residential properties. Higher residential rates may apply if you already own one or more residential properties. However, if you are replacing your main residence the higher rates may not apply.  You must or arrange to send an LTT return to Welsh Revenue Authority and pay the tax within 30 days of the day after completion (or other effective date of the transaction).
        </p>
        <form name="stamp_duty_form" role="form" class="form step_one stamp-duty__step-one" novalidate="novalidate" id="new_land_transaction_tax" action="/en/mortgage_calculator/land-transaction-tax-calculator-wales?locale=en" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />

  <label class="stamp-duty__buyer-type" for="land_transaction_tax_buyer_type">
    I am
    <select ng-model="stampDuty.buyerType" name="land_transaction_tax[buyer_type]" id="land_transaction_tax_buyer_type"><option value="">please select an option</option>
<option selected="selected" value="isNextHome">buying my next home</option>
<option value="isSecondHome">buying an additional property or second home</option></select>
    <span data-dough-component="PopupTip">
      
<button type="button"
        class= "helper popup-tip__button "
        data-dough-popup-trigger>
  <span aria-hidden="true">i</span>
  <span class="visually-hidden">show help</span>
</button>

      
<div data-dough-popup-container class="helper popup-tip__container details__helper">
  <p data-dough-popup-content class="popup-tip__content">
    You will usually have to pay higher rates of Land Transaction Tax if you are buying a residential property worth %{amount} or more and already own 1 or more properties.
  </p>

  <button data-dough-popup-close type="button" class="popup-tip__close">
    <span aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
      </svg>
    </span>
    <span class="visually-hidden">hide help</span>
  </button>
</div>

    </span>
</label>
  <div class="stamp-duty__form form__item">
    <label class="stamp-duty__input-description" for="land_transaction_tax_price">Property Price:</label>
    <div class="visually-hidden" id="mc_accessibility_describe_price">
      Make sure to clear the existing number before entering the new number.
    </div>

    <span class="stamp-duty__input-wrapper stamp-duty__input-wrapper--inline">
      <span class="stamp-duty__input--unit">£</span>
      <input value="0.00" autofocus="autofocus" ng-model="stampDuty.propertyPrice" placeholder="0" currency="" data-m-dec="0" pattern="\d*" class="stamp-duty__input" type="text" name="land_transaction_tax[price]" id="land_transaction_tax_price" />
    </span>

    <input type="submit" name="commit" value="Next" class="button button--primary stamp-duty__submit" ng-click="navigateAndFocus($event)" ng-disabled="!stampDuty.propertyPrice || !stampDuty.buyerType" analytics-category="Stamp Duty Calculator" analytics-action="Completion" analytics-label="Click" analytics="" analytics-on="click" />
  </div>
</form><hr />

<h2>Buying in England, Northern Ireland or Scotland?</h2>
<p>If you are buying in any of these countries then use the appropriate calculator to work out how much you will pay</p>

      </div>

      <div class="l-constrained elsewhere__container">
    <a class="elsewhere__item promo__link" href="/en/tools/house-buying/stamp-duty-calculator">
      <div class="elsewhere__item-content">
        <h3 class="promo__heading">Calculate Stamp Duty in England or Northern Ireland</h3>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow-right elsewhere__arrow" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow-right"></use>
      </svg>
    </a>
    <a class="elsewhere__item promo__link" href="/en/tools/house-buying/land-and-buildings-transaction-tax-calculator-scotland">
      <div class="elsewhere__item-content">
        <h3 class="promo__heading">Calculate Land and Buildings Transaction Tax for Scotland</h3>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow-right elsewhere__arrow" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow-right"></use>
      </svg>
    </a>
</div>

    </div>

    <div wz-step class="ng-hide">
      <div class="rendered-from-js">
        <div class="stamp-duty__container">
          <h1 class="stamp-duty__heading">
            Land Transaction Tax (LTT) calculator - Your Results
          </h1>
          <div class="stamp-duty__calculator-column">
  <form id="update_stamp_duty" name="stamp_duty_form" role="form" class="step_two" ng-submit="preventFormSubmission($event)" novalidate="novalidate" action="/en/mortgage_calculator/land-transaction-tax-calculator-wales?locale=en" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />

    <div class="form__item stamp-duty__form">
      <label class="stamp-duty__input-description" for="land_transaction_tax_price">Property Price:</label>
      <div class="visually-hidden"
            id="mc_accessibility_describe_price">
        Make sure to clear the existing number before entering the new number.
      </div>

      <span class="stamp-duty__input-wrapper">
        <span class="stamp-duty__input--unit">£</span>
        <input value="0.00" class="stamp-duty__input dynamic-slider-property" ng-model="stampDuty.propertyPrice" placeholder="0.00" currency="" data-m-dec="0" analytics="" analytics-on="change" analytics-category="Stamp Duty Calculator" analytics-action="Refinement" analytics-label="Price" pattern="\d*" aria-describedby="mc_accessibility_describe_price" autoselect="" type="text" name="land_transaction_tax[price]" id="land_transaction_tax_price" />
      </span>

    </div>
    <input type="hidden" value="isNextHome" name="land_transaction_tax[buyer_type]" id="land_transaction_tax_buyer_type" />

    <div class="slider"
          ui-slider
          dynamic-for='dynamic-slider-property'
          ng-model="stampDuty.propertyPrice"
          analytics-category="Stamp Duty"
          analytics-action="Refinement"
          analytics-label="Price"
          aria-hidden="true">
    </div>

    <div class="hide-with-js">
      <p><br><input type="submit" name="commit" value="Recalculate" class="button" wz-next="" /></p>
    </div>

</form>
  <div class="stamp-duty__results">
  <div class="stamp-duty__results-heading" aria-live="polite" aria-atomic="true">
    <div ng-hide="js">
      Land Transaction Tax to pay is
    </div>
    <div class="hidden-unless-js">
      <span ng-if="stampDuty.isSecondHome">
        Land Transaction Tax on your additional property
      </span>
      <span ng-if="!stampDuty.isSecondHome">
        Land Transaction Tax to pay is
      </span>
    </div>

    <span ng-hide="js">
      £0.00
    </span>
    <span class="rendered-from-js">
      {{ stampDuty.cost() | customCurrency:"£" }}
    </span>
  </div>

  <p ng-hide="js" class="stamp-duty__results-tax-rate ng-hide">
    The effective tax rate is 0.00%
  </p>

  <p class="rendered-from-js stamp-duty__results-tax-rate">
    The effective tax rate is
    {{ stampDuty.percentageTax() | number: 2 }}
    %
  </p>

  <div>
    <a href="#"
       class="rendered-from-js
              expander expander--nudge
              stamp-duty__how-calculated-toggle"
                ng-class="{ 'expander--expanded' : expandedStampDutyInformation }"
                ng-click="toggleStampDutyExpanded($event)"
                affects-height="click">
      How is this calculated?
      <span class="visually-hidden">
        Click to expand.
      </span>
    </a>
    <div class="mortgagecalc__panel--full">
  <div ng-show="expandedStampDutyInformation" class="mortgagecalc__tip">
    <div class="stamp-duty stamp-duty__calculation-explanation">
        <div ng-hide="js" class="stamp-duty__explanation-nexthome ng-hide is-active">
          <p>Land Transaction Tax (LTT) is paid at both main and higher rates of tax.  This is usually based on the price you pay for the property or land, but it might include other types of payment such as goods, works or services, release from a debt, or transfer of a debt, including the value of any outstanding mortgage. For example, someone buying a property for £280,000 would pay no tax on the value of the property up to £180,000, 3.5% tax on the property value between £180,001 and £250,000 and 5% on the property value between £250,001 and £280,000. In this case, total liability for Land Transaction Tax (LTT) would be £3,950 giving an effective tax rate of 1.41% (average percentage rate of tax paid).</p>
<p>Anyone buying additional property may have to pay a higher rate of LTT. In this example that would represent an extra £8,400, meaning the total stamp duty would be £12,350 giving an effective tax rate of 4.41%. If you are replacing your main residence the higher rates may not apply.</p>

<table class="mortgagecalc__table stamp-duty__table">
  <thead>
    <tr>
      <th class="mortgagecalc__table__price">
        Purchase price of property
      </th>
      <th class="mortgagecalc__table__rate">
        Rate of Land Transaction Tax
      </th>
      <th class="mortgagecalc__table__extra">
        Higher LTT Rate*
      </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="mortgagecalc__table__price">
          £0 - £180,000
        </td>
        <td class="mortgagecalc__table__rate">
          0%
        </td>
        <td class="mortgagecalc__table__extra">
          3%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £180,001 - £250,000
        </td>
        <td class="mortgagecalc__table__rate">
          3.5%
        </td>
        <td class="mortgagecalc__table__extra">
          6.5%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £250,001 - £400,000
        </td>
        <td class="mortgagecalc__table__rate">
          5%
        </td>
        <td class="mortgagecalc__table__extra">
          8%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £400,001 - £750,000
        </td>
        <td class="mortgagecalc__table__rate">
          7.5%
        </td>
        <td class="mortgagecalc__table__extra">
          10.5%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £750,001 - £1,500,000
        </td>
        <td class="mortgagecalc__table__rate">
          10%
        </td>
        <td class="mortgagecalc__table__extra">
          13%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £1,500,000+
        </td>
        <td class="mortgagecalc__table__rate">
          12%
        </td>
        <td class="mortgagecalc__table__extra">
          15%
        </td>
      </tr>
  </tbody>
</table>

<p>
* Buying a residential property under £40,000 is not subject to higher rates of Land Transaction Tax (LTT)
</p>

        </div>

      <div class="rendered-from-js stamp-duty__explanation-nexthome">
        <p>Land Transaction Tax (LTT) is paid at both main and higher rates of tax.  This is usually based on the price you pay for the property or land, but it might include other types of payment such as goods, works or services, release from a debt, or transfer of a debt, including the value of any outstanding mortgage. For example, someone buying a property for £280,000 would pay no tax on the value of the property up to £180,000, 3.5% tax on the property value between £180,001 and £250,000 and 5% on the property value between £250,001 and £280,000. In this case, total liability for Land Transaction Tax (LTT) would be £3,950 giving an effective tax rate of 1.41% (average percentage rate of tax paid).</p>
<p>Anyone buying additional property may have to pay a higher rate of LTT. In this example that would represent an extra £8,400, meaning the total stamp duty would be £12,350 giving an effective tax rate of 4.41%. If you are replacing your main residence the higher rates may not apply.</p>

<table class="mortgagecalc__table stamp-duty__table">
  <thead>
    <tr>
      <th class="mortgagecalc__table__price">
        Purchase price of property
      </th>
      <th class="mortgagecalc__table__rate">
        Rate of Land Transaction Tax
      </th>
      <th class="mortgagecalc__table__extra">
        Higher LTT Rate*
      </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="mortgagecalc__table__price">
          £0 - £180,000
        </td>
        <td class="mortgagecalc__table__rate">
          0%
        </td>
        <td class="mortgagecalc__table__extra">
          3%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £180,001 - £250,000
        </td>
        <td class="mortgagecalc__table__rate">
          3.5%
        </td>
        <td class="mortgagecalc__table__extra">
          6.5%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £250,001 - £400,000
        </td>
        <td class="mortgagecalc__table__rate">
          5%
        </td>
        <td class="mortgagecalc__table__extra">
          8%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £400,001 - £750,000
        </td>
        <td class="mortgagecalc__table__rate">
          7.5%
        </td>
        <td class="mortgagecalc__table__extra">
          10.5%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £750,001 - £1,500,000
        </td>
        <td class="mortgagecalc__table__rate">
          10%
        </td>
        <td class="mortgagecalc__table__extra">
          13%
        </td>
      </tr>
      <tr>
        <td class="mortgagecalc__table__price">
          £1,500,000+
        </td>
        <td class="mortgagecalc__table__rate">
          12%
        </td>
        <td class="mortgagecalc__table__extra">
          15%
        </td>
      </tr>
  </tbody>
</table>

<p>
* Buying a residential property under £40,000 is not subject to higher rates of Land Transaction Tax (LTT)
</p>

      </div>
    </div>
  </div>
</div>

  </div>
</div>


  <div class="">
    <h2 class="mortgagecalc__heading stamp-duty__have-you-tried">
      Have you tried?
    </h2>

    <p><a class="button button--primary mortgagecalc__spread stamp-duty__button" target="_blank" href="https://www.moneyadviceservice.org.uk/en/tools/mortgage-calculator">Mortgage calculator</a>

      <a class="button button--primary mortgagecalc__spread stamp-duty__button" target="_blank" href="https://www.moneyadviceservice.org.uk/en/tools/house-buying/mortgage-affordability-calculator">Affordability calculator</a></p>
  </div>
</div>

<div class="stamp-duty__info-column">
  <div class="callout callout--tip">
    <span class="callout__icon" aria-hidden="true">?</span>
    <h2 class="stamp-duty__info-subheading callout__heading">
      Did you know?
    </h2>
    <p class="stamp-duty__info-tip">
      You must send an LTT return and pay the tax within 30 days of the day after completion (or other effective date of the transaction). If you have a solicitor, agent or conveyancer, they’ll usually file your return and pay the tax on your behalf. If they don’t do this for you, you can file a return and pay the tax yourself using the
      <a target="_blank" href="https://gov.wales/paper-return-land-transaction-tax">paper return.</a>
    </p>
    <p><a class="stamp-duty__info-tip-link" href="/en/articles/land-transaction-tax-everything-you-need-to-know" target="_blank">Land Transaction Tax – Everything you need to know</a>
  </div>

  <h2 class="mortgagecalc__subheading">Find out more:</h2>
  <ul>
      <li class="stamp-duty__info-tip-link"><a target="_blank" href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Upfront home buying costs</a></li>
      <li class="stamp-duty__info-tip-link"><a target="_blank" href="https://www.moneyadviceservice.org.uk/en/articles/mortgage-related-fees-and-costs-at-a-glance">Mortgage fees and costs</a></li>
      <li class="stamp-duty__info-tip-link"><a target="_blank" href="https://www.moneyadviceservice.org.uk/en/articles/planning-for-the-cost-of-moving-day">Costs of moving day</a></li>
  </ul>
</div>

        </div>
      </div>
    </div>
  </div>
</div>

  </div>


</body>
</html>



