<div class="risk--show-on-high">
  <%= render "high_budget_affect" %>
</div>

<div class="risk--show-on-medium">
  <%= render "medium_budget_affect" %>
</div>

<div class="risk--show-on-low">
  <%= render "low_budget_affect" %>
</div>
