<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <div class="inset-block">
    <div class="inset-block__content-container">
      <p class="inset-block__text"><%= I18n.t("affordability.caveat.one") %></p>
    </div>
  </div>
</div>
