<% unless syndicated_tool_request? %>
  <div class="ns-mortgage-calc__affcalc__row">
    <div class="ns-mortgage-calc__affcalc__col">
      <%= zendesk_feedback_tab(zendesk_affordability_config) %>
    </div>
  </div>
<% end %>

