<div class="ns-mortgage-calc__tooltip ns-mortgage-calc__tooltip--onfocus" ng-tooltip ng-cloak role="tooltip"
  <%== html.map { |k, v| %Q{#{k}="#{v}"} }.join(' ') %>>
  <div class="ns-mortgage-calc__tooltip__content-container">
    <p class="ns-mortgage-calc__tooltip__text"><%= text %></p>
  </div>
</div>
