<div class="tooltip tooltip--onfocus" ng-tooltip ng-cloak role="tooltip"
  <%== html.map { |k, v| %Q{#{k}="#{v}"} }.join(' ') %>>
  <div class="tooltip__content-container">
    <p class="tooltip__text"><%= text %></p>
  </div>
</div>
