<div class="tooltip tooltip--onfocus" ng-tooltip role="tooltip" <% html.each do |k, v| %><%= k %>="<%= v %>"<% end %>>
  <div class="tooltip__content-container">
    <p class="tooltip__text"><%= text %></p>
  </div>
</div>
