<div class="mortgagecalc__panel mortgagecalc__panel--full">
  <h2><%= I18n.t("affordability.title") %></h2>

  <p><%= I18n.t("affordability.preamble") %></p>
  <p><%= I18n.t("affordability.description") %></p>
</div>
