<div class="affordability__small-12 affordability__medium-8">
  <h2><%= I18n.t("affordability.title") %></h2>

  <p><%= I18n.t("affordability.preamble") %></p>
  <p><%= I18n.t("affordability.description") %></p>
</div>
