<div class="inset-block <%= classname %>" <% html.each do |k, v| %>
    <%= k %>="<%= v %>"
    <% end %>>
  <div class="inset-block__content-container">
    <p class="inset-block__text"><%= text %></p>
  </div>
</div>
