<div class="affcalc__row--spaced">
  <div class="affcalc__col">
    <h4 class="mortgagecalc__heading"><%= t("affordability.next_steps.have_you_tried.title") %></h4>
    <p><%= link_to t('affordability.next_steps.have_you_tried.mortgage_calculator'),
           full_mortgage_calculator_url,
           target: "_blank" %></p>

    <p><%= link_to t('affordability.next_steps.have_you_tried.stamp_duty'),
           full_stamp_duty_calculator_url,
           target: "_blank" %></p>
  </div>
</div>
