<div class="mortgagecalc__container">
  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <h2><%= I18n.t("affordability.title") %></h2>
  </div>

  <%= render 'next_steps_content'  %>
  <%= render 'caveat' %>
</div>

<%= render 'feedback' %>

