<div class="ns-mortgage-calc__affcalc">
  <div class="ns-mortgage-calc__affcalc__col">
    <h2><%= I18n.t("affordability.title") %></h2>
  </div>

  <%= render 'next_steps_content'  %>
  <%= render 'caveat' %>

  <%= render 'feedback' %>
</div>
