<% content_for(:analytics) do %>
  <script type='text/javascript'>
    var dataLayer = dataLayer || [];
    dataLayer.push({
      'event': 'GAEvent',
      'eventCategory': 'Affordability Calculator',
      'eventAction'  : 'Completion',
      'eventLabel'   : 'Click'
    });
    dataLayer.push({
      'event': 'GAEvent',
      'eventCategory': 'Affordability Calculator',
      'eventAction'  : 'Risk Level',
      'eventLabel'   : '<%= @affordability.risk_level %>'
    });
    dataLayer.push({
      'event': 'GAEvent',
      'eventCategory': 'Affordability Calculator',
      'eventAction'  : 'Remaining',
      'eventLabel'   : 'Non-positive'
    });
  </script>
<% end %>

<div ng-controller="CalculatorCtrl" class="affcalc">
  <%= render 'over_committed' %>
  <%= render 'caveat' %>

  <%= render 'feedback' %>
</div>
