<% content_for(:analytics) do %>
  <script type='text/javascript'>
    var dataLayer = dataLayer || [];
    dataLayer.push({
      'event': 'GAEvent',
      'eventCategory': 'Affordability Calculator',
      'eventAction'  : 'Completion',
      'eventLabel'   : 'Click',
      'tool_name'    : 'afford_calc'
    });
    dataLayer.push({
      'event': 'GAEvent',
      'eventCategory': 'Affordability Calculator',
      'eventAction'  : 'Risk Level',
      'eventLabel'   : '<%= @affordability.risk_level %>',
      'tool_name'    : 'afford_calc'
    });
    dataLayer.push({
      'event': 'GAEvent',
      'eventCategory': 'Affordability Calculator',
      'eventAction'  : 'Remaining',
      'eventLabel'   : 'Non-positive',
      'tool_name'    : 'afford_calc'
    });
  </script>
<% end %>

<div ng-controller="CalculatorCtrl" class="affcalc">
  <%= render 'over_committed' %>
  <%= render 'caveat' %>
</div>
