<div ng-controller="CalculatorCtrl">
  <h1>Find out how much you can borrow</h1>

    <form name="affordability_form" role="form" novalidate>
    <!-- START AFFORDABILITY CALCULATOR -->

      <fieldset>
        <label for="personOneAnnualIncome">
          Annual Income
          </label>
        <input type="text" ng-pattern="/^\d+$/" name="personOneAnnualIncome" class="form-control" ng-model="affordability.earnings.personOne.annual" placeholder="Your yearly income" required autofocus />
        <p ng-show="affordability_form.personOneAnnualIncome.$invalid && !affordability_form.personOneAnnualIncome.$pristine" class="help-block">Please enter an amount</p>
      </fieldset>

      <fieldset>
        <label for="personOneExtraIncome">
          Extra Income
        </label>
        <input type="text" ng-pattern="/^\d+$/" class="form-control" name="personOneExtraIncome" ng-model="affordability.earnings.personOne.extra" placeholder="Any extra income"  />
        <p ng-show="affordability_form.personOneExtraIncome.$invalid && !affordability_form.personOneExtraIncome.$pristine" class="help-block">Only numbers</p>
      </fieldset>

      <div ng-show="affordability.selectedOption == 2">
        <fieldset>
          <label for="personTwoAnnualIncome">
            Person 2 Annual Income
          </label>
          <input type="text" ng-pattern="/^\d+$/" name="personTwoAnnualIncome" class="form-control" ng-model="affordability.earnings.personTwo.annual" placeholder="Your yearly income"  autofocus />
          <p ng-show="affordability_form.personTwoAnnualIncome.$invalid && !affordability_form.personTwoAnnualIncome.$pristine" class="help-block">Please enter an amount</p>
        </fieldset>

        <fieldset>
          <label for="personTwoExtraIncome">
            Person 2 Extra Income
          </label>
          <input type="text" ng-pattern="/^\d+$/" class="form-control" name="personTwoExtraIncome" ng-model="affordability.earnings.personTwo.extra" placeholder="Any extra income"  />
          <p ng-show="affordability_form.personTwoExtraIncome.$invalid && !affordability_form.personTwoExtraIncome.$pristine" class="help-block">Only numbers</p>
        </fieldset>
      </div>

      <fieldset>
        <label for="numberOfPeople">
          Number of people
        </label>
        <select ng-change="normalizeValues()" ng-options="i for i in affordability.numberOfPeople " ng-model="affordability.selectedOption" name="numberOfPeople" class="form-control" required></select>
      </fieldset>

      <fieldset>
        <label for="committedSpend">
          Personal Spend
        </label>
        <input type="text" ng-pattern="/^\d+$/" class="form-control" name="committedSpend" ng-model="affordability.committedSpend" placeholder="Spending"  />
        <p ng-show="affordability_form.committedSpend.$invalid && affordability_form.committedSpend.$dirty" class="help-block">Only numbers</p>
      </fieldset>

    <!-- END AFFORDABILITY CALCULATOR -->

  </form>

  <div ng-show="affordability.earnings.personOne.annual">
    <p >
      Based on your total income of
      <span class='label label-primary'>{{ affordability.totalIncome() | currency:"£" }}</span>
      and your total expenditure of
      <span class='label label-danger'>{{ affordability.committedSpend | currency:"£" }}</span>,
      the maximum mortgage you can borrow is between
      <span class='label label-success'>{{ affordability.minimumBorrowing() | currency:"£" }}</span>
      to
      <span class='label label-success'>{{ affordability.maximumBorrowing() | currency:"£" }}</span>
    </p>
  </div>
</div>
