<div ng-controller="CalculatorCtrl" class="mortgagecalc__container mortgagecalc__container--affordability">
  <div class="mortgagecalc__panel mortgagecalc__panel--full">
    <h2><%= I18n.t("affordability.title") %></h2>
  </div>

  <%= render 'form_step2' %>
  <%= render 'caveat' %>
</div>

<%= render 'feedback' %>

