<div ng-controller="CalculatorCtrl" class="mortgagecalc__container mortgagecalc__container--affordability">
  <%= render 'header' %>

  <div>
    <div>
      <%= render 'form_step1' %>
    </div>
  </div>

  <%= render 'caveat' %>
</div>

<%= render 'feedback' %>
