<%= render 'header' %>

<div ng-controller="CalculatorCtrl" class="mortgagecalc__container mortgagecalc__container--affordability">
  <div wizard on-finish="finishedWizard()" hide-indicators='true'>
    <div wz-step class="ng-hide">
      <%= render 'form_step2' %>
    </div>
  </div>
</div>

<%= render 'caveat' %>
<%= render 'feedback' %>

