<div ng-controller="CalculatorCtrl" class="mortgagecalc__container mortgagecalc__container--affordability">
  <%= render 'header' %>
  <%= render 'form_step2' %>
  <%= render 'caveat' %>
</div>

<%= render 'feedback' %>

