.form__item {
  margin: $baseline-unit*3 0 0;
}

label {
  display: block;
  font-weight: 500;
  font-size:18px;
  color: $color-grey-primary;
  margin-bottom: $baseline-unit;
}

.field_with_errors {
  input[type="text"] {
    border-top-color: $color-error;
  }
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px 8px;
  transition: all 0.2s linear;
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: 18px;
}
