label {
  display: block;
  position: relative;
  font-weight: 500;
  font-size:18px;
  margin: 18px 0 6px;
  color: #333;
}

.field_with_errors {
  input[type="text"] {
    border-top-color: $color-error;
  }
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  border-top: 4px solid $color-green-bright;
  padding: 8px 8px;
  border-radius: 5px;
  transition: all 0.2s linear;
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: 18px;

  &:focus,
  &:active {
    border-top-color: $color-green-primary;
    outline: 0;
  }
}

.mortgagecalc__container--affordability {
   label {
    min-height: 40px;
  }
}
