.form__item {
  margin: $baseline-unit*4 0 0;
}

label {
  display: block;
  font-weight: 500;
  font-size:px(18);
  color: $color-grey-primary;
  margin-bottom: $baseline-unit;

  &.label--inline {
    display: inline;
  }
}

.field_with_errors {
  input[type="text"] {
    border-top-color: $color-error;
  }
}

input[type="text"],
.form__input-label {
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: px(18);
}

