.button {
  font-family: 'museo_sans';
  font-weight: 700;
  filter: none !important;
}

.squeeze {
  margin-top: -7px;
  margin-bottom: 3px;
}

.visibly-hidden {
  opacity: 0;
  transition: opacity 0.3s linear;
}

strong {
  font-weight: 700;
}

ul {
	font-size: $font-medium;
}

.knock-back {
  color: #999;
}

.accent {
  font-size: $font-large;
  line-height: 1.5;

  &.accent--medium {
    font-size: px(20);
    font-weight: 500;
  }
}
