.button {
  font-family: 'museo_sans';
  font-weight: 700;
  filter: none !important;
}

.squeeze {
  margin-top: 0;
  margin-bottom: 3px;
}

.visibly-hidden {
  opacity: 0;
  transition: opacity 0.3s linear;
}

strong {
  font-weight: 700;
}