<!DOCTYPE html>
<html class='no-js'>
<head>
  <title>Mortgage Calculator</title>
  <%= stylesheet_link_tag    "mortgage_calculator/application", :media => "all" %>
  <%= javascript_include_tag "mortgage_calculator/application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="mortgageCalculatorApp">
  <%= render template: parent_template %>
</body>
</html>
