<div class="stamp-duty__results">
  <div class="stamp-duty__results-heading" aria-live="polite" aria-atomic="true">
    <div>
      <% key = ltt.second_home? ? 'second_title' : 'title' %>
      <%= I18n.t("land_transaction_tax.results.#{key}") %>
    </div>

    <span>
      <%= number_to_currency ltt.tax_due_formatted %>
    </span>
  </div>

  <p class="stamp-duty__results-tax-rate ng-hide">
    <%= I18n.t("land_transaction_tax.results.sentence",
              percentage: number_to_percentage(
                ltt.percentage_tax, precision: 2
              )
        )
    %>
  </p>

  <div>
    <%= render 'how_is_calculated_section' %>
  </div>
</div>
