/* stylesheet to override MAS styles with Moneyhelper styles */ 

/* Needs to be the same SASS syntax to overwrite */ 

/* use new variables */

/* Fonts come from dough/assets/fonts */ 

@import 'moneyhelper_variables'; /* should this go here? check structure once uplift structure confirmed */

//Media Query Variables (copied from dough/assets/stylesheets/lib/_mediaqueries.scss - we will need to find a global
//place for these or write to 3 into 1 mq

  $mq-xs: 0 !default;
  $mq-xs-max: (479px) !default;
  $mq-s: (480px) !default;
  $mq-s-max: (719px) !default;
  $mq-m: (720px) !default;
  $mq-m-max: (959px) !default;
  $mq-l: (960px) !default;
  $mq-l-max: (1199px) !default;
  $mq-xl: (1200px) !default;
  

//End Media Query Variables 



.mortgagecalc {
    margin:0 auto;
    max-width:750px;

    p {
        line-height:23px;
    }

    select {
        border:1px solid $color-grey-secondary;
        border-radius:4px;
        font-weight:normal;
        font-style: italic;
        color:$color-grey-secondary;
        
        &:focus {
            background-color:$color-yellow-secondary;
            border-radius: 4px;
        }
    }

    .popup-tip__button {
        background-color:$color-light-grey-supporting;
        color:$color-magenta-primary;
        border:3px solid $color-magenta-primary;
        width:30px;
        height:30px;

        &:focus {
            background-color:$color-yellow-secondary;
            outline:none;
            border-color:$color-violet-primary;
            color:$color-violet-primary;
        }
    }
}

.mortgagecalc__container, .mortgagecalc__panel {
    background:#fff;
    color:$color-dark-blue-secondary;
    font-family: 'museo_sans';
    // font-family: 'Roobert';

    .mortgagecalc__panel--border-left {
        border-left:1px solid $color-grey-blue-supporting;
    }

    .mortgagecalc__panel--border {
        border-top:1px solid $color-grey-blue-supporting;
    }

    .mortgagecalc__panel--full {
        // padding-bottom:30px;
    }
}

body .dough { /* this will need to be more specific */ 
    color:$color-blue-primary; /* From Dough */ 
    font: normal 16px/1.375, "Roobert";
}

.mortgagecalc {
    font-family: '';
    font-weight: 300; /* left the same */ 
}

/* links */
a {
    &:link, &:active {
        color:$color-magenta-primary;
        text-decoration:none;
    }
   
    &:hover {color:$color-magenta-dark-primary;}

    &:focus {
        outline:none;
        color:$color-dark-blue-secondary;
        background-color:$color-yellow-secondary;
        border-bottom:4px solid $color-violet-primary;
    }

    &:target {
        color:$color-violet-secondary;
    }
}

/* buttons */   
.button, .button--primary, .mortgagecalc__panel .button--primary, .mortgagecalc__panel .mortgagecalc__submit {
    // font-family: Roobert;
    font-family: 'museo_sans';
    background:$color-magenta-primary;
    border:3px solid $color-magenta-primary;
    border-radius:4px;
    box-shadow:0px 3px 0px rgba(0, 0, 0, 0.25);
    padding:12px 16px;
    color:$color-white-supporting;
    text-decoration: none!important;
    font-size:16px;
    font-weight:600;

    a {text-decoration: none!important;
        &:link, &:active {
            color:$color-white-supporting;
            
        }
        &:visited {color:$color-white-supporting;}
        &:hover {color:$color-magenta-dark-primary;}
    }

    &:visited {
        text-decoration: none!important;
        color:$color-white-supporting;
    }

    &:hover {
        background:$color-magenta-dark-primary;
        border:3px solid $color-magenta-dark-primary;
        box-shadow:0px 1px 0px rgba(0, 0, 0, 0.25);
    }

    &:focus {
        background:$color-yellow-secondary; 
        border:3px solid $color-violet-primary;
        color:$color-dark-blue-secondary;
        outline:none;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    }

    &:active:focus {
        background:$color-magenta-dark-primary;
        border:3px solid $color-yellow-secondary;
        color:$color-white-supporting!important;
    }

}

.button--primary[disabled] {
    background-color: transparent;
    border:1px solid $color-grey;
    color: $color-grey-secondary;}


/* forms from yeast */ 
input[type="text"],
input[type="number"],
input[type="select"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
  .form__input-container,

  {
    border:1px solid $color-grey-secondary;
    border-radius:4px;
    color:$color-grey-secondary;

    .form__input {
        font-weight:normal;
        font-style: italic;
        color:$color-grey-secondary;
         
        &:focus {
            background:$color-yellow-secondary;
            border-radius: 4px;
        }
    } 
}

/* Numbering */ 
.featured-list {
    li { 
        margin-left:0px;
        padding-top:0px;

        &:before {
            border:1px solid $color-teal-dark-secondary;
            color:$color-teal-dark-secondary;
            background:$color-white-supporting;
            border-radius: 0px;}

        @media screen and (min-width: $mq-m-max) {
            margin-left:1em;
        }
    }
}

h1, .heading-large {
    // font-family: Roobert;
    font-family: 'museo_sans';
    font-style: normal;
    font-weight: bold;
    color:#0F19A0}

h2, .heading-medium {
    // font-family: Roobert;
    font-family: 'museo_sans';
    font-style: normal;
    font-weight: bold;
    color:#000B3B;
}

label {
    color: #000;} 

/* from _slider.scss in mortgage calc */ 
.ui-slider {
    border-radius:4px;
    background:$color-white-supporting;
    border:1px solid $color-grey-secondary;
    height:8px;
  }
  .ui-slider .ui-slider-handle {
    border:2px solid $color-magenta-primary;
    background:$color-magenta-primary;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
    width:28px;
    height:28px;
    
    &:focus {
        border:2px solid $color-violet-primary;
        background:$color-yellow-secondary;
    }

    &:hover {
        border:2px solid $color-magenta-dark-primary;
        background:$color-magenta-dark-primary;
    }
}

.ui-slider .ui-slider-range {
    background:$color-magenta-primary;
    border-radius:0px; 
}

.ui-slider .ui-state-hover {
      background:$color-magenta-dark-primary;
}

  /* tabs from mortgage calculator */ 
.tabs__link {
    text-decoration: none;
    font-weight:normal;
    color:$color-magenta-primary;
   
    
    &.tabs__current,
    &:focus,
    &:active {
        border:1px solid $color-grey-blue-supporting;
        border-radius:4px 4px 0px 0px;
        border-bottom:none;
        color:$color-blue-primary;
        font-size:18px;
        line-height: 26px;
        font-weight:normal;
    }

    &:focus {
        background-color:$color-yellow-secondary;
    }

    &:hover {
        text-decoration:underline;
        color:$color-magenta-dark-primary;
        background:$color-white-supporting;
    }
    
    &:active:focus {
        background:$color-white-smoke-supporting;
    }
    
    &.tabs__current {  
        color:$color-blue-primary; 

        &:focus {
            background-image:image_url('images-mh/focus-state-purple-line-bg.png');
            background-position:0px 100%;
            background-repeat: repeat-x;
        }

        &:hover {
            background-image:none;
            background-color:$color-white-supporting;
            text-decoration:none;
        }

        &:active:focus {
            background-image:none;
            background:$color-white-smoke-supporting;
        }
    }
}

.tabs__content {
    border:1px solid $color-grey-blue-supporting;
    border-radius: 0px 0px 0px 36px;

    .callout--tip {
        border:8px solid $color-yellow-secondary;
        border-radius: 0px 0px 0px 36px;
        margin-top:30px;
        padding:32px 29px 26px 57px;
        background: image_url('images-mh/mobile-call-out-arrow.svg') 0 20px no-repeat;
        

        @media screen and (min-width: $mq-m-max) {
            background: image_url('images-mh/desktop-arrow.svg') 23px -4px no-repeat;
            background-size:51px 78px;
            padding:32px 30px 30px 77px;
        }
        
        h5 {
            font-size:1.5em;
            margin:0px;}

        p {
            margin:10px 0px;}

        span {
            display:none;
        }
    }
}

.expander {
    margin-top:15px;

    .expander__link {
        display: inline-block;
        background-image:image_url('images-mh/tool-accordion-icon.png'); 
        background-position:0 0;
        background-repeat: no-repeat;
        padding-left: 55px;
        height:47px;
        line-height:40px;
        padding-right:15px;
    
        &.expander__link--expanded {
            background:none;
            background-image: image_url('images-mh/tool-accordion-icon-close.png');
            background-position:0 0;
            background-repeat: no-repeat;

            &:focus {
                // background:transparent;
                background-color:$color-yellow-secondary;
            }
        }
    
        &.expander__link--nudge {
        margin-top: 15px;
        }
    }
}
  
/* call out visibilty:hidden */
.step_one .mortgagecalc__panel .callout--tip {
    border: 8px solid $color-yellow-secondary;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 36px;
    margin-top:30px;
    padding:32px 29px 26px 57px;
    background: image_url('images-mh/mobile-call-out-arrow.svg') 0 20px no-repeat;
    

    @media screen and (min-width: $mq-m-max) {
        background: image_url('images-mh/desktop-arrow.svg') 23px -4px no-repeat;
        background-size:51px 78px;
        padding:32px 30px 30px 77px;
    }

    p {
        margin:0px;
    }

    span {
        display:none;
    }
}

/* Stamp duty */ 

.stamp-duty__input-wrapper {
    input {
        font-weight:normal;
        font-style: italic;
        color:$color-grey-secondary;
           
        &:focus {
            background:$color-yellow-secondary;
            border-radius: 4px;
        }
    }
}

/* Affordability */ 

.affcalc__col, .affcalc__col--field {  
    .form__row {
        margin:15px 0px;

        label {
            margin-bottom:30px;
        }
    }   
}



