/* stylesheet to override MAS styles with Moneyhelper styles */ 

/* Needs to be the same SASS syntax to overwrite 03/06/20 */ 

/* use new variables */

/* Fonts come from dough/assets/fonts */ 

@import 'moneyhelper_variables'; /* should this go here? */


.mortgagecalc__container {
    background:#fff;
    color:$color-dark-blue-secondary;
    font-family: 'Roobert';
}


body .dough { /* this will need to be more specific */ 
    color:$color-blue-primary; /* From Dough */ 
    font: normal 16px/1.375, "Roobert";
}

.mortgagecalc {
    font-family: '';
    font-weight: 300; /* left the same */ 
    font-size: 16px;
}

/* links */
a {
    &:link, &:active {
        color:$color-magenta-primary;
    }
    &:visited {color:$color-violet-secondary;}
    &:hover {color:$color-magenta-dark-primary;}
}

/* buttons */ 

.button--primary {
    background:$color-magenta-primary;
    border:3px solid $color-magenta-primary;
    border-radius:4px;
    box-shadow:0px 3px 0px rgba(0, 0, 0, 0.25);
    padding:12px 16px;
    color:$color-white-supporting;

    &:visited {background:$color-magenta-active-dark-primary; }

    &:hover {
        background:$color-magenta-dark-primary;
        border:3px solid $color-magenta-dark-primary;
        box-shadow:0px 1px 0px rgba(0, 0, 0, 0.25);
    }


    &:focus {
        background:$color-yellow-secondary; 
        border:3px solid $color-violet-primary;
        color:$color-dark-blue-secondary;
        outline:none;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    }

    &:target {
        background:$color-magenta-dark-primary;
        border:3px solid $color-yellow-secondary;
        color:$color-white-supporting;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    }

    &:active:focus {
        background:$color-magenta-dark-primary;
        border:3px solid $color-yellow-secondary;
    }
}

.button--primary[disabled] {
    background-color: $color-grey;
    border:3px solid $color-grey;
    color: $color-grey-secondary;}


/* forms from yeast */ 
input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
  .form__input-container,
  .form__input-outline {
    border-color: $color-grey-secondary;
    // color: $color-validation-text;

    // .form__input:focus {border:2px solid $color-yellow-secondary;} 
  }

.form__input-container:focus,.form__input-outline:focus {
    border:2px solid $color-yellow-secondary;
}


/* end forms from yeast */ 

// input:hover {
//     border-color:#8800d1;
// }

// input:focus {
//     color:#8800d1;
//     border: 4px solid $color-yellow-secondary;
// }

/* Numbering */ 

.featured-list {
    > li:before {
        background:$color-yellow-secondary;
    }
}

/* Desktop */ 

h1, .heading-large {
    font-family: Roobert;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color:#0F19A0}

h2, .heading-medium {
    font-family: Roobert;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    color:#000B3B;
}

/* end Desktop */ 

/* _forms.scss */ 

label {
    color: #000;} 


/* from _slider.scss in mortgage calc */ 

.ui-slider {
    border-radius:4px;
    background:$color-white-supporting;
    border:1px solid $color-grey-secondary;
  }
  .ui-slider .ui-slider-handle {
    border:2px solid $color-magenta-primary;
    background:$color-magenta-primary;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
    width:28px;
    height:28px;
    
    &:focus {
        border:2px solid $color-yellow-secondary;
    }
  }
  .ui-slider .ui-slider-range {
    background:$color-magenta-primary;
    border-radius:0px;
    
  }

  .ui-slider .ui-state-hover {
      background:$color-magenta-dark-primary;
  }

  /* tabs from mortgage calculator */ 

  .tabs__link {
    &.tabs__current,
    &:focus,
    &:active {
      color:$color-magenta-dark-primary;
      border-bottom:2px solid $color-magenta-dark-primary;
      background: $color-white-supporting;      
    }
    &:visited {}
    &:hover {
        background:$color-light-grey-supporting;
    }
    &.tabs__current {
        background: $color-white-supporting;   
    }
  }


  
  .tabs__content {
      border:none;
}
    
  

/* .label--accent {
    background: ; what is this? 
}*/ 


/* .field_with_errors {
    input[type="text"],
    input[type="number"] {
      border-top-color: ; what is this? 
    }
  } */

  /* from _forms.scss in Yeast */

//   button {
//   @extend %font-smoothing;
// }

// input[type="text"],
// input[type="number"],
// input[type="email"],
// input[type="search"],
// input[type="password"] {
//   @extend %form-input;
//   @extend %form-input-text;

//   &[disabled] {
//     background-color: $color-input-disabled-background;
//     color: $color-input-disabled-text-color;
//   }
// }

// input[type="search"] {
//   box-sizing: border-box;
// }

// input[type="text"],
// input[type="number"],
// input[type="email"],
// input[type="search"],
// input[type="password"],
// input[type="checkbox"],
// input[type="radio"],
// textarea {
//   &:focus {
//     @include form-input-focus;
//     @include form-input-focus-outline;
//   }
// }

// input[type="checkbox"],
// input[type="radio"] {
//   &:hover {
//     @include form-input-focus;
//     @include form-input-focus-outline;
//     cursor: pointer;
//   }
// }

// input[type="search"] {
//   &:focus {
//     outline-offset: -1px;
//   }
// }

// input[type="submit"],
// button,
// select {
//   &:focus {
//     @include form-input-focus-outline;
//   }
// }

// textarea {
//   @extend %form-input;
// }

// fieldset {
//   border: none;
//   margin: 0;
//   padding: 0;
// }

// legend {
//   color: $color-fieldset-legend-fg;
//   display: block;
//   font-weight: 500;
//   margin-bottom: $baseline-unit*2;
// }
