.ns-mortgage-calc {
  .ns-mortgage-calc__mortgagecalc__container,
  .ns-mortgage-calc__affcalc {
    max-width: 100% !important;
  }

  label {
    color: black;
  }

  .slider,
  .ns-mortgage-calc__borrowing-range,
  .ns-mortgage-calc__expander,
  .pie,
  .button,
  #feedback-tab {
    display: none !important;
  }

  .l-stuck {
    position: relative;
    top: auto;
    max-width: 100%;
    padding: 0;
    border: 0;

    .accent.accent--medium {
      font-size: 20px;
    }
  }

  .ns-mortgage-calc__mortgagecalc__tip,
  .risk__percentage {
    display: block !important;
  }

  // to override public website's !importants in their print stylesheet
  .risk__percentage {
    font-size: 40px !important;
  }
}
