<button data-dough-popup-close type="button" class="popup-tip__close">
  <span aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
    </svg>
  </span>
  <span class="visually-hidden">
    <%= t('wpcc.tooltip_hide') %>
  </span>
</button>
