<button type="button" class="popup-tip__button" data-dough-popup-trigger>
  <span aria-hidden="true">i</span>
  <span class="visually-hidden"><%= t('affordability.tooltips.tooltip_show') %></span>
</button>
